.topbar {
  background-color: var(--header-bg);
  padding: 1.1rem 2.4rem;

  & ul {
    display: flex;
    justify-content: end;
    gap: 2rem;

    & li {
      font-weight: 400;
      font-size: 1.2rem;

      & span {
        font-weight: 700;
      }
    }
  }
}

.navbar {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;

  & .logo-header {
    padding-left: 4.8rem;
    width: 18%;
    display: flex;
    align-items: center;
    gap: 1.4rem;

    & .logo {
      width: 10%;
    }

    & h1 {
      position: relative;

      &::before {
        content: '& Associates';
        position: absolute;
        bottom: -1.2rem;
        right: 0;
        font-size: 1.4rem;
        color: var(--theme-color);
      }
    }
  }

  & .main-nav {
    padding: 2.4rem 4rem;
    background-color: var(--white-color);
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .nav {
      display: flex;
      gap: 3.4rem;

      & li {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}



/* PageHeader */
.page-navbar {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  width: 100%;
  z-index: 10;
  padding: 1.5rem 20rem;
  display: flex;
  color: var(--white-color);

  & .logo-header {
    display: flex;
    align-items: center;

    & .logo {
      width: 10%;
    }

    & h1 {
      position: relative;

      &::before {
        content: '& Associates';
        position: absolute;
        bottom: -1.2rem;
        right: 0;
        font-size: 1.4rem;
        color: blue;
      }
    }
  }

  & .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);

    & .nav {
      display: flex;
      gap: 3.4rem;

      & li {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--white-color);
        z-index: 11;
      }
    }
  }
}

.page-nav-fixed {
  background-color: var(--black-color);
}

.mainslider {
  height: 510px;
  display: flex;
  background-color: #EEF1F2;

  & .rotational-logo {
    width: 3%;

    & .logo {
      width: 3%;
      position: fixed;
      top: 50%;
      /* background-color: black; */
      z-index: 100;
      animation: RotationalLogo 2s linear infinite;
      border-radius: 2.4rem;
    }
  }

  & .slide {

    & .item {
      width: 97%;
      height: 510px;
      position: absolute;
      background-size: cover;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 100%;
        height: 510px;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
      }

      & .content {
        position: absolute;
        top: 50%;
        left: 250px;
        color: #eee;
        transform: translate(0, -50%);

        & .name {
          font-size: 1.6rem;
          font-weight: bold;
          letter-spacing: .6rem;
          animation: animate .5s linear;
        }

        & .heading {
          font-weight: 800;
          font-size: 47px;
          width: 70%;
          margin: 1.4rem 0;
          animation: animate .5s linear;
        }

        & .des {
          width: 65%;
          font-size: 1.5rem;
          font-weight: 500;
          letter-spacing: .1rem;
          line-height: 2.5rem;
          word-spacing: .1rem;
          animation: animate .5s linear;
        }

        & button {
          background-color: #d7b39a;
          margin-top: 2.4rem;
          animation: animate .5s linear;
        }
      }
    }
  }
}

@keyframes RotationalLogo {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 359deg;
  }
}

@keyframes animate {
  0% {
    background-color: white;
    transform: translateY(-53px);
  }

  100% {
    transform: translateY(0);
  }
}

.medialinks {
  padding: 1.3rem 4.8rem;
  background-color: #EEF1F2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .media {
    & ul {
      display: flex;
      gap: 1.4rem;
    }
  }

  & .buttons {
    display: flex;
    gap: .4rem;
  }
}

/* About-Section */
#about-section {
  background-image: url('../Images/bg-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

#about-section .section-head {
  border: .1rem solid gray;
  padding: 2rem 1.4rem;
  font-weight: 800;
  font-size: 3.2rem;
  display: inline-block;
  margin-bottom: 4rem;
}

#about-section .section-content {
  display: flex;
  gap: 3rem;
}

#about-section .left-content {
  width: 43rem;
  height: 50rem;
  padding: 30px;
  margin-bottom: 30px;
  border: 20px solid #d7b39a;

  & h3 {
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 2rem;
  }
  & button {
    margin-top: 1.4rem;
  }

}

#about-section .right-content {
  display: flex;

  & .carousel {
    position: relative;

    & div {
      position: absolute;
      background-color: white;
      padding: 1.6rem .7rem;
      top: 40%;
      font-size: 2rem;

      &:nth-of-type(2) {
        right: 0;
      }
    }
  }

  & .carousel-before {
    margin-left: -5rem;
    margin-top: 6rem;
    z-index: -1;
  }
}

#about-section .section-content img {
  width: 35rem;
  height: 50rem;
}

/* What We Do Section */
.what-we-do-section {
  background-image: url('../Images/bg-5.png');

  & .container {
    & .section-content {
      display: flex;
      gap: 3.4rem;

      & .content {
        & .item {
          position: relative;

          & h4 {
            padding: 2rem 0;
            text-align: center;
            font-weight: 600;
            font-size: 2.2rem;
            line-height: 1.2;
            background-color: white;
            transition: all 1s linear;
          }

          & img {
            width: 35rem;
            height: 35rem;
          }

          &::after {
            position: absolute;
            content: '';
            height: 2.4rem;
            width: .2rem;
            background-color: black;
            bottom: -2.4rem;
            left: 50%;
            transition: all 1s linear;
          }
        }

        & .num {
          font-size: 4.2rem;
          line-height: 4.2rem;
          font-weight: 600;
          margin-top: 6rem;
          color: #d7b39a;
          text-align: center;
        }

        & .item:hover {
          & h4 {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }

          &::after {
            height: 4.4rem;
            bottom: -4.4rem;
          }
        }
      }

      & .content:nth-child(2) {
        margin-top: 4rem;
      }

      & .content:nth-child(3) {
        margin-top: 8rem;
      }
    }
  }

  & .right-content {
    background-image: url('../Images/bg-2.jpg');
    background-position: 100% 0;
    width: 180px;
    height: 118%;
    position: absolute;
    background-attachment: fixed;
    right: 0;
    /* overflow: hidden; */
  }
}

/* Informative Section */
.informative-section {
  display: grid;
  grid-template-columns: 50% 50%;
}

.informative-section .infographic {
  background-image: url('../Images/bg-8.jpg');
  background-size: cover;
  padding: 7.4rem 3.4rem;
}

.informative-section .infographic .section-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.4rem;

  & .content {
    background-image: url('../Images/bg-5.png');
    padding: 2.4rem 3rem;
    z-index: 1;
    background-color: white;

    & .num {
      font-size: 4.6rem;
      font-weight: 700;
      letter-spacing: .2rem;
      color: #d7b39a;
      padding: 1rem;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 1.7rem;
        height: 100%;
        border: .4rem solid #efefef;
        z-index: -1;
      }
    }

    & h2 {
      font-size: 2.2rem;
      font-weight: 700;
      letter-spacing: .01rem;
      padding-top: 2.4rem;
    }
  }

  & .content:hover {
    & .num {
      color: black;
    }
  }
}

.informative-section .testimonial {
  background-image: url('../Images/bg-12.jpg');
  background-size: cover;
  padding: 7.4rem 4.4rem;
}

.informative-section .testimonial .section-content {
  & .client-details {
    display: flex;
    gap: 2.4rem;
  }

  & .client-feedback {
    margin-top: 5rem;
    padding: 2.4rem 2.4rem 0 2.4rem;
    background-color: white;
    width: 80%;

    & .counter {
      background-color: #d7b39a;
      display: inline-block;
      padding: 1.8rem 1.8rem;
      font-weight: 600;
      font-size: 1.4rem;
      /* inset: auto 0 0 auto; */
    }
  }
}

/* Service-Section */
#service-section {
  background-color: #eef1f2;

  & .container {
    position: relative;

    &::after {
      position: absolute;
      content: 'SERVICES';
      font-size: 8rem;
      rotate: 270deg;
      font-weight: 600;
      right: -18rem;
      top: 30%;
      color: #d4d5d5;
      letter-spacing: 1.5rem;
    }
  }
}

#service-section .container .section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;

  & .content {
    background-color: white;
    border-radius: 1.4rem;
    padding: 2.4rem 3.4rem;
    border-bottom: 5px solid #d7b39a;
    transition: border .2s;

    & .num {
      font-size: 8rem;
      font-weight: 700;
      text-align: right;
      color: #eef1f2;
    }

    & h3 {
      font-size: 2rem;
      padding: 1.4rem 0;
    }

    & p {
      padding-bottom: 1.4rem;
    }

    & button {
      border: none;
      padding-left: 0;
    }
  }
}

.service-icon {
  width: 5rem;
  height: 5rem;
}

.service-icon:hover {
  animation: pulse .5s;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

/* Footer-Section */
#footer-section {
  background-color: #23252D;
  color: white;
}

#footer-section .container .content-sec-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.4rem;

  & h2 {
    color: #d7b39a;
    padding: 1.4rem 0;
    font-size: 1.8rem;
  }

  & li {
    padding: 1rem 0;
    font-size: 1.4rem;
    border-bottom: .1rem dashed rgba(246, 242, 242, 0.115);
    line-height: 2.5rem;
  }

  & .link-sec {
    li:hover {
      color: #d7b39a;
      cursor: pointer;
    }
  }
}

#footer-section .container .content-sec-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 54px;
  gap: 10.4rem;
  align-items: center;

  & .foot-media {
    & ul {
      display: flex;
      gap: 2.4rem;
    }
  }

  & .input-field {
    display: flex;
    align-items: center;

    & input {
      width: 100%;
      background-color: #2e313b;
      padding: 15px;
      border: none;
      outline: none;
      color: white;
      font-size: 1.5rem;
      letter-spacing: .1rem;
      opacity: .7;
    }

    & li {
      background-color: #fff;
      color: #000;
      padding: 15px;
      font-size: 13px;
      text-align: center;
    }
  }
}

#footer-section .copyright-sec .container {
  padding: 2.4rem 20rem;
  border-top: .1rem solid rgba(128, 128, 128, 0.137);
}


.getInTouch-section {
  background-image: url('../Images/bg-map.png');
  background-color: #fff;
  color: #000;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  height: 100vh;

  & .container {
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: 10%;
    left: 13%;
    justify-content: center;
    align-items: end;
  }

  & .cross {
    position: absolute;
    right: 0;
    font-size: 3rem;
    padding: 2.4rem 4rem 0 0;
    cursor: pointer;
  }
}

.getInTouch-section .contact-details {
  border: 10px solid #d7b39a;
  width: 360px;
  height: 420px;
  padding: 2.4rem;

  & .details {
    display: flex;
    gap: 1.4rem;
    margin-top: 2.8rem;

    & .icon {
      font-size: 2rem;
    }

    & p {
      margin-top: .8rem;
    }
  }
}

.getInTouch-section .contact-form {
  width: 360px;
  height: 420px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white transparent;
  padding: 2.4rem;

  & .input-field {
    & label {
      font-weight: 600;
      position: relative;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      line-height: 5rem;
      opacity: .7;
      /* top: 20px; */
    }

    & input,
    textarea {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: .1rem solid gray;
      background-color: transparent;
      line-height: 10px;
      font-size: 1.3rem;
      letter-spacing: .1rem;
      line-height: 1.4rem;
    }
  }

  & button {
    margin-top: 5rem;
  }
}

/* FAQ-Page */
.faq-page .faq-section {
  display: flex;
  gap: 3.4rem;
}

.faq-page .faq-section .left-faq {
  width: 50%;

  & .faq-item h3 {
    margin: 1.4rem 0;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.faq-page .faq-section .right-faq {
  width: 50%;

  & .faq-item span {
    display: inline-block;
    margin: 1.4rem 0;
    font-size: 1.4rem;
    font-weight: 700;
  }

  & .faq-item {
    cursor: pointer;

    & .collapse {
      display: flex;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding: 0 2rem;
      margin: 1.4rem 0 0 0;
    }

    & p {
      margin-top: 1.4rem;
      padding: 0 2rem;
      animation: faqLoading .5s linear;
    }
  }
}

@keyframes faqLoading {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}

/* Project-Page */
.project-page .container .project-heading {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
  margin: 0 auto;

  & ul {
    display: flex;
    gap: 2.4rem;
    justify-content: center;

    & li {
      font-size: 1.4rem;
      cursor: pointer;
      padding: 1rem 0;
      transition: all .5s linear;

      &:hover {
        transform: scale(1.2);
        color: #d7b39a;
      }
    }
  }
}

.project-page .container .project-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 2.4rem;

  & .item {
    transition: all .5s linear;

    & img {
      width: 100%;
      height: 400px;
    }

    & .content-text {
      background-color: #EEF1F2;
      padding: 2.4rem 1.4rem;

      & h3 {
        font-weight: 600;
        font-size: 22px;
        opacity: .8;
      }

      & h4 {
        font-weight: 600;
        font-size: 17px;
        margin: .6rem 0;
        opacity: .7;
      }
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

}

/* Blog-Page */
.blog-page .container .blog-listing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.blog-page .container .blog-listing .single-blog {
  & .blog-img {
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2.4rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background-color: #fff3;
      width: 25%;
      height: 300%;
      left: -115%;
      top: -90%;
      transition: all .5s linear;
      transform: rotate(40deg);
      z-index: 1;
    }
    &:hover::before {
      left: 115%;
      top: 90%;
    }

    & img {
      width: 100%;
    }

    & .blog-date {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #F2F2F2;
      padding: 1rem;

      & strong {
        font-size: 3.6rem;
      }

      & span {
        letter-spacing: 2px;
        margin-left: .4rem;
      }
    }

    & .blog-content {
      & div {
        margin: 1.4rem 0;
        font-size: 1.2rem;
        font-weight: 600;
      }

      & h3 {
        font-size: 2.4rem;
      }
    }
  }
}